/*.row {height: 60px;}*/
.card-content {
    background: hsl(0,0%,100%);
}
.card-data {background: hsl(0,0%,100%);}
.col {margin: 0;}
a {text-decoration: none;}
.small-text {
    font-size: 13px;
}

.right {
    text-align: right;
}


.description {
    text-overflow: ellipsis;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
}

.description-small {
    text-overflow: ellipsis;
    line-height: 1.5em;
    height: 1.5em;
    overflow: hidden;
}





