body
{
    background: #DB95F5;
}


/* Here are all the (h) titels */
.h2-titel-forum
{
    display: flex;
    justify-content: center;
    justify-items: center;

    background: transparent;
    color: black;

    font-size: 70px;
    margin-top: 40px;
}
.h2-titel-knowledge-base
{
    background: transparent;
    color: black;

    padding: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.h2-titel-support
{
    background: transparent;
    color: black;

    padding: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.h2-titel-questions
{
    background: transparent;
    color: black;

    padding: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}


/* Here are all the divs */
.div-wrapper
{
    background: transparent;
}
.div-container-knowledge-support-questions
{
    display: flex;
    justify-items: center;
    justify-content: center;

    color: black;
    background: transparent;

    margin-top: 20px;
}
.div-knowledge-base
{
    display: grid;
    justify-items: center;
    margin-right: 100px;
}
.div-support
{
    display: grid;
    justify-items: center;
    margin-right: 100px;
}
.div-questions
{
    display: grid;
    justify-items: center;
    margin-right: 100px;
}


/* Here are all the buttons */
.btn-login
{
    background: transparent;
    color: black;
    margin-left: 80vw;
}
.btn-knowledge-base-learn-more
{
    background: transparent;
    color: black;

    margin-top: 50px;
    border: black solid 1px;
}
.btn-support-solve
{
    background: transparent;
    color: black;

    margin-top: 50px;
    border: black solid 1px;
}
.btn-questions-answers-qa
{
    background: transparent;
    color: black;

    margin-top: 50px;
    border: black solid 1px;
}