/* Style for the admin page here */

/* Style for the side navigation */
.wrapper {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.side {
    float: left;
    width: 5%;
    height: 100%;
}

.content {
    background-color: #ffffff;
    height: 100%;
    width: 95%;
    float: right;
}

.nav-row {
    text-align: center;
    height: 4vw;
    transition: background-color .3s ease;
}

.nav-row.active {background-color: #8200ff;} /* Active tab */
.nav-row:hover:not(.active) {background-color: #cccccc;} /* Prevents the active tab from showing any hover effect */



.material-icons { /* Scaling size of the icons */
    font-size: 50px;
    padding-top: 10px;
}

a {color: black;} /* preventing the icons from taking on the default color of a link. (Blue) */
a:hover {color: black;}

/* Styling for the buttons */

.btn-menu {
    padding-left: 50px;
}

.block { /* Block button Style */
    color: red;
    transition: .3s ease;
}

.block:hover { /* Block button animation */
    background-color: red;
    color: white;
}

.details { /* Detail button styling */
    color: blue;
    transition: .3s ease;
}

.details:hover { /* Detail button animation */
    background-color: blue;
    color: white;
}

/* User page styles */

.user-container {
    margin-top: 0;
    padding: 10px;
}

.user-row {
    height: 5vh;
    border-bottom: 4px solid #ffffff;
    background-color: #e5e5e5;
}

.head-row {
    height: 5vh;
}

.col {
    text-align: center;
    padding-top: 10px;
}

/* user details tab */

.user-details {
    height: 10vw;
}

.details-close { /* Close button style */
    transition: .3s ease;
    height: 2.5vw;
}
.details-close:hover { /* Close button animation */
    background-color: black;
    color: white;
}

.hidden {display: none;} /* Hides detail content */
ul {list-style-type: none;} /* No black dots as list item indicator */
.detail-section {text-align: left;}  /* Puts all the text on the left side of the detail page */
.span-right {float: right;} /* Puts the user data on the right side of the detail page */
.c-dark {background-color: #c7c7c7;} /* Dark part for the table on the details page */
.c-light {background-color: #e7e7e7;} /* Light part for the table on the details page */




