.submitFilters{
    display: block;
    margin: 20px 0%;
}
#filterButton{
    text-align: center;
    width: 100%;
    height: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    border: transparent solid 2px;
    border-radius: 15px;
    background-color: #42019a;
    color: white;
    transition: .5s;
}
#filterButton:hover{
    border-color: #42019a;
    background-color: transparent;
    color: black;
    transition: .3s;
}
.btn-outline-success{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.set-full-width .card{
    width: 100% !important;
}
#old-price{
    text-decoration: line-through;
}
.carousel-control-next-icon{
    background-color: transparent !important;
    color: #42019a !important;
    background-image: none !important;
}
.carousel-control-prev-icon{
    background-color: transparent !important;
    color: #42019a !important;
    background-image: none !important;
}
.top-picks{
    border: 1px solid #6e6e6e !important;
    border-radius: 25px !important;
    padding: 15px;
}
div.carousel-info{
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}
.search-bar{
    border-radius: 25px !important;
}