html{
    font-family: 'Montserrat', sans-serif !important;

}
.container{
    width: 85%;
    height: auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px rgb(23, 22, 22);
}

#btn-removeAll{
    display: block;
    border: 0;
    font-size: 15px;
    padding:16px 0;
    border-radius: 30px;
    background: #4D4D4D;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    width: 80%;
}

#btn-removeAll:hover,
#btn-removeAll:focus{
    background: #ab0014;
}

#bold1{
    font-size: 40px;
    font-weight: bold;
    color: #707070;
}

#bold2{
    font-weight: bold;
    color: #707070;
}

#btn-checkout{
    display: block;
    border: 0;
    font-size: 15px;
    padding:16px 0;
    border-radius: 30px;
    background: #4D4D4D;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    width: 100%;

}

#btn-checkout:hover,
#btn-checkout:focus{
    background: #0047AB;
}
.search-bar{
    border-radius: 25px !important;
}


