#confirm1{
    display: block;
    border: 0;
    font-size: 16px;
    padding:16px 30px;
    border-radius: 30px;
    background: #4D4D4D;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    width: 100%;
}

#confirm1:hover,
#confirm1:focus{
    background: #0047AB;
}
#confirm1:active{
    background: blue;
}
.search-bar{
    border-radius: 25px !important;
}