body, html {
    height: 100%;
}


body {
    background-image :url("/wfflix/images/background_contact.png");
    background-repeat: no-repeat !important;
    background-size: cover !important;

}

.form-control{
    display:block;
    margin:0 auto;
}


.btn-send {
    background-image: linear-gradient(to right, #5C258D 0%, #4389A2  51%, #5C258D  100%);
}

.btn-send {
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 30px;
    display: block;
    margin:0 auto;
}

.btn-send:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.search-bar{
    border-radius: 25px !important;
}

