@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: normal;
    font-size: 48px;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    height: 200vh;
    font-family: 'Montserrat', sans-serif !important;

}
header,footer{
    background:#eee;
    padding: 5rem;
    text-align:center;
}

.row{
    background:#FFFFFF;
}

.img-help{
    width: 300px;
    height: 200px;
}

#btn-buy{
    display: block;
    border: 0;
    font-size: 16px;
    padding:16px 30px;
    border-radius: 30px;
    background: #4D4D4D;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;

}

#btn-buy:hover,
#btn-buy:focus{
    background: #0047AB;
}

#btn-message{
    display: block;
    border: 0;
    font-size: 16px;
    padding:16px 30px;
    border-radius: 30px;
    background: #4D4D4D;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    width: 100%;
}

#btn-message:hover,
#btn-message:focus{
    background: #0047AB;
}
#btn-message:active{
    background: blue;
}
#bold1{
    font-weight: bold;
}
#bold2{
    font-weight: bold;
    color: #707070;
}
#bold7{
    font-weight: bold;
}


#description{
    color: #707070;
}
.search-bar{
    border-radius: 25px !important;
}