@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    margin: 0;
    padding: 0;
}
.logo,
#hamburger {
    margin: 4%;
}
main {
    width: 100vw;
    height: 100vh;
}
.nav-hamburger{
    width: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
}
#hamburger {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.25s linear;
    width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
    height: clamp(2rem, 1.4vw + 1.7rem, 5rem);
    display: flex;
    align-items: center;
}

#hamburger:hover {
    opacity: 1;
}

#hamburger div,
#hamburger div:after,
#hamburger div:before {
    background-color: #3b3b3b;
    border-radius: 10px;
    width: clamp(1.5rem, 2vw + 1.1rem, 6rem);
    height: clamp(0.2rem, 0.3vw + 0.1rem, 0.8rem);
    transition: all 0.15s linear;
}

#hamburger div:before,
#hamburger div:after {
    content: "";
    position: absolute;
}

#hamburger div:before {
    transform: translateY(-200%);
}

#hamburger div:after {
    transform: translateY(200%);
}

#hamburger.open div {
    background: transparent;
}

#hamburger.open div:before {
    transform: rotate(45deg);
}

#hamburger.open div:after {
    transform: rotate(-45deg);
}

#overlay {
    position: fixed;
    width: 25%;
    min-height: 100%;
    background-color: #1a1a1a;
    z-index: 2;
    transform: translate3d(100%, 55%, 0px);
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0px;
    -webkit-box-shadow: -10px 1px 15px -4px rgba(0,0,0,0.86);
    box-shadow: -10px 1px 15px -4px rgba(0,0,0,0.86);
}

#overlay.menu {
    transform: translate3d(1%, 55%, 0px);
}

#overlay a {
    text-decoration: transparent underline;
    color: #fafafa;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif !important;
    margin: 2%;
    opacity: 0.5;
    transition: opacity .2s linear;
}

#overlay a:hover {
    opacity: 1;
    text-decoration: #42019a underline;
    transition: .3s linear;
}

@media only screen and (max-width: 992px) {
    .nav-hamburger{
        right: 20px;
        margin-top: 20px;
    }
    #overlay.menu{
        transform: translate3d(0%, 62%, 0);
    }
    #overlay.menu, a{
        justify-content: start;
        padding-top: 15px;
    }
    #overlay{
        width: 60%;
        transform: translate3d(120%, 62%, 0);
    }
}

@media only screen and (max-width: 595px){
    #overlay.menu{
        transform: translate3d(0%, 59%, 0);
    }
    #overlay{
        transform: translate3d(120%, 59%, 0);
    }
}
.search-bar{
    border-radius: 25px !important;
}