body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh);
}

.background-image {
    background: url("/wfflix/images/home-img.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}

.indent-c {
    text-indent: 10px;
    text-align: center;
    font-size: x-large;
    font-family: Montserrat, sans-serif;
}

.indent-b {
    text-indent: 40px;
}

.footer-black {
    background-color:#3D3D3D;
    color: white;
    font-weight: bold;
}

/***********************************************************************************/

/*MAKING THE SHAPE SECOND BOX AND ROUND CORNERS*/
.rectangle-1 {
    border-radius: 0 3vh 3vh 0;
    background-color: #3D3D3D;
}

/*STYLING TEXT IN SECOND BOX*/
.text-rectangle h2 {
    font-size: 3vh;
    font-weight: lighter;
    color: white;
}

/*FOOTER*/

.footer {
    background: white;
    color: black;
    height: 20vh;
    position: relative;
}

.col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4 a {
    background-color: white;
    text-decoration: none;
    color: black;
}

.search-bar{
    border-radius: 25px !important;
}






