body{
    background-image: url("/wfflix/images/background_contact.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.form-login input{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid black;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
}
.form-login{
    width: 100%;
}
#logo-login{
    width: 35%;
}
#loginBtnStyle{
    background-color: rgba(65,30,182,1);
    font-weight: bold;
    color: white;
    border: 0 solid transparent;
    transition: background-color .4s ease-in-out;
    padding-left: 80px;
    padding-right: 80px;
}
#loginBtnStyle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(109,66,231,1);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

#loginBtnStyle:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(109,66,231,1);
}

#loginBtnStyle:hover {
    color: rgba(109,66,231,1);
    box-shadow: 0 0 5px rgba(109,66,231,1);
    text-shadow: 0 0 5px rgba(109,66,231,1);
    background: transparent;
}
#input_container {
    position:relative;
}
#input_container-a{
    position:relative;
    margin-top: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}
#input_container-a a{
    color: #3b3b3b;
}
#input {
    margin-right: 50px;
    text-align: center;
}
#input_img {
    position:absolute;
    bottom:2px;
    width:45px;
    height:45px;
    left: 15px;
}
.error_message{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: red;
}
.input-container-span{
    position:relative;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none !important;
}
.input-container-span, p{
    text-align: center;
}
@media only screen and (max-width: 768px) {
    #logo-login{
        max-width: 100% !important;
    }
    .form-login{
        width: 80% !important;
    }
    .form-login input{
        height: 50%;
        width: 100%;
        font-size: 21px;
        padding-left: 20px;
        padding-right: 0 !important;
    }
    #input_img {
        bottom:2px;
        width:25px;
        height:25px;
        left: 15px;
    }
    #loginBtnStyle{
        width: 100%;
        height: 13%;
    }
}
.search-bar{
    border-radius: 25px !important;
}