@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
nav{
    font-family: 'Montserrat', sans-serif !important;
}
a.nav-link{
    font-size: 24px;
    color: #2d2d2d;
}
a.nav-link:hover{
    font-size: 24px;
    color: rgb(82, 82, 82);
    text-shadow: 0 0 5px rgba(109,66,231,0.2);
}
.search-bar{
    border-radius: 25px;
}
input.search-bar{
    font-size: 21px;
}
.btn-login{
    background-color: rgba(109,66,231,1);
    border: 1px solid #838383;
    color: white;
    border-radius: 5px;
    height: 40px;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 20px;
    transition: .3s ease-in-out;
}
.btn-login:hover{
    color: rgb(82, 82, 82);
    box-shadow: 0 0 5px rgba(109,66,231,1);
    text-shadow: 0 0 5px rgba(109,66,231,1);
    background: transparent;
}
.search-bar{
    border-radius: 25px !important;
}