@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.btn.btn-outline-success.mt-5.float-end {
    text-decoration: none;
    border: 2px solid black;
    color: black;
    text-transform: uppercase;
    transition: all 0.3s ease;
}


.search-bar{
    border-radius: 25px !important;
}