#registerBtnStyle{
    background-color: rgba(65,30,182,1);
    font-weight: bold;
    color: white;
    border: 0 solid transparent;
    transition: background-color .4s ease-in-out;
    padding-left: 20px;
    padding-right: 20px;
}
#registerBtnStyle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(109,66,231,1);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

#registerBtnStyle:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(109,66,231,1);
}

#registerBtnStyle:hover {
    color: rgba(109,66,231,1);
    box-shadow: 0 0 5px rgba(109,66,231,1);
    text-shadow: 0 0 5px rgba(109,66,231,1);
    background: transparent;
}
.search-bar{
    border-radius: 25px !important;
}