#ytFrame{
    box-shadow: -1px 1px 65px 23px rgba(0,0,0,0.44);
    -webkit-box-shadow: -1px 1px 65px 23px rgba(0,0,0,0.44);
    -moz-box-shadow: -1px 1px 65px 23px rgba(0,0,0,0.44);
}
.search-bar{
    border-radius: 25px !important;
}