#toOwnedCourses{
    display: block;
    border: 0;
    font-size: 16px;
    padding:16px 30px;
    border-radius: 30px;
    background: #4D4D4D;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    width: 100%;
}

#toOwnedCourses:hover,
#toOwnedCourses:focus{
    background: #0047AB;
}
#toOwnedCourses:active{
    background: blue;
}

#toNewCourse{
    display: block;
    border: 0;
    font-size: 16px;
    padding:16px 30px;
    border-radius: 30px;
    background: #4D4D4D;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    width: 100%;
}

#toNewCourse:hover,
#toNewCourse:focus{
    background: #0047AB;
}
#toNewCourse:active{
    background: blue;
}
.search-bar{
    border-radius: 25px !important;
}